<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rozvrchol</title>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h2>Create room</h2>
  <form id="roomForm">
    <div class="form-group">
      <label for="title">Title:</label>
      <input style="width: 300px;" type="text" class="form-control" id="title" required>
    </div>
    <div class="form-group">
      <label for="capacity">Capacity:</label>
      <input style="width: 300px;" type="number" class="form-control" id="capacity" required>
    </div>  
    <button type="submit" class="btn btn-primary">Create room</button>
    
  </form>
  <div style="padding-top: 20px">
    <form id="guest"action="adminview.html">
      <input type="submit" class="btn btn-secondary"value="Back to admin menu" />
    </form>
  </div>
  
</div>

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {
  $('#roomForm').on('submit', function(e) {
    e.preventDefault();

    var roomData = {
      title: $('#title').val(),
      capacity: $('#capacity').val()
    };

    $.ajax({
      type: 'POST',
      url: 'http://localhost:5000/createRoomAdmin/'+roomData.title,
      contentType: 'application/json',
      data: JSON.stringify(roomData),
      success: function(response) {
        console.log(response);
        
      },
      error: function(xhr, status, error) {
        console.error(error);
        // Handle error (display error message to the user)
      }
    });
  });
});
</script>

</body>
</html>
