<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rozvrchol</title>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h2>Delete user</h2>
  <form id="userForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input style="width: 300px;" type="text" class="form-control" id="name" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Delete user</button>
    
  </form>
  <div style="padding-top: 20px">
    <form id="guest"action="adminview.html">
      <input type="submit" class="btn btn-secondary"value="Back to admin menu" />
    </form>
  </div>
  
</div>

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {
  $('#userForm').on('submit', function(e) {
    e.preventDefault();

    var userData = {
      name: $('#name').val(),
      password: $('#password').val(),
      role: $('#role').val() 
    };

    $.ajax({
      type: 'DELETE',
      url: 'http://localhost:5000/deleteUserAdmin/'+userData.name,
      contentType: 'application/json',
      data: JSON.stringify(userData),
      success: function(response) {
        console.log(response);
        
      },
      error: function(xhr, status, error) {
        console.error(error);
        // Handle error (display error message to the user)
      }
    });
  });
});
</script>

</body>
</html>
