<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rozvrchol</title>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h2>Remove a teacher from subject</h2>
  <form id="addTeacherToSubject">
    <div class="form-group">
      <label for="username">Teacher username:</label>
      <input style="width: 300px;" type="text" class="form-control" id="username" required>
    </div>
    <div class="form-group">
      <label for="shortcut">Subject shortcut:</label>
      <input style="width: 300px;" type="text" class="form-control" id="shortcut" required>
    </div>
    <button type="submit" class="btn btn-primary">Remove teacher from subject</button>
    
  </form>
  <div style="padding-top: 20px">
    <form id="guest"action="adminview.html">
      <input type="submit" class="btn btn-secondary"value="Back to admin menu" />
    </form>
  </div>
  <!-- Modal #########################################################################################################-->
  <div class="modal" id="dynamicContentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

function openDynamicContentModal(message, isSuccess) {
   // Set the dynamic content
   $('#modalContent').html('<p>' + message + '</p>');
   // Set the modal title and style based on success
   var modalTitle = isSuccess ? 'Success' : 'Error';
   var modalHeaderColor = isSuccess ? 'bg-success' : 'bg-danger';
   // Update modal title and header color
   $('.modal-title').text(modalTitle);
   $('.modal-header').removeClass('bg-success bg-danger').addClass(modalHeaderColor);
   // Show the modal
   $('#dynamicContentModal').modal('show');
}

$(document).ready(function() {
  $('#addTeacherToSubject').on('submit', function(e) {
    e.preventDefault();

    var teachingactivityData = {
        username: $('#username').val(),
        shortcut: $('#shortcut').val()
    };

    $.ajax({
      type: 'DELETE',
      url: 'http://localhost:5000/deleteTeacherFromSubject',
      contentType: 'application/json',
      data: JSON.stringify(teachingactivityData),
      success: function(response) {
        console.log(response);
        openDynamicContentModal('Operation was successful!', true);
      },
      error: function(xhr, status, error) {
        console.error(error);
        openDynamicContentModal('Operation failed. Please try again. ERROR: '+ error, false);
      }
    });
  });
});
</script>

</body>
</html>