<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rozvrchol</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
    <body>
        <p style="font-family: monospace; font-size: xx-large;padding: 10px;"><b>ADMIN MENU</b></p>
        <div style="padding-bottom: 10px; padding-left: 10px;">
            <form action="../../index.html">
            <input type="submit" class="btn btn-secondary" value="Log out" />
            </form>
        </div>

            <div style="padding-bottom: 10px; padding-left: 10px;">
                <p>User actions:</p>
            <form id="guest"action="admUpdateUser.html">
              <input type="submit" class="btn btn-primary" value="Update user" />
            </form>
            
          </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                
                <form id="guest"action="admCreateUser.html">
                <input type="submit" class="btn btn-primary" value="Create user" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <form id="guest"action="admDeleteUser.html">
                <input type="submit" class="btn btn-primary" value="Delete user" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <p>Subject actions:</p>
                <form id="guest"action="admAddSubject.html">
                <input type="submit" class="btn btn-primary" value="Create subject" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <form id="guest"action="admDeleteSubject.html">
                <input type="submit" class="btn btn-primary" value="Delete subject" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <p>Room actions:</p>
                <form id="guest"action="admCreateRoom.html">
                <input type="submit" class="btn btn-primary" value="Create room" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <form id="guest"action="admDeleteRoom.html">
                <input type="submit" class="btn btn-primary" value="Delete room" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <form id="guest"action="admSetGuarantOfSubject.html">
                <input type="submit" class="btn btn-primary" value="Update room" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <p>Teaching activity actions:</p>
                <form id="guest"action="admAddTeachingActivity.html">
                <input type="submit" class="btn btn-primary" value="Create teaching activity" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <form id="guest"action="admDeleteTeachingActivity.html">
                <input type="submit" class="btn btn-primary" value="Delete teaching activity" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <p>Teacher actions:</p>
                <form id="guest"action="admAddTeacherToSubject.html">
                <input type="submit" class="btn btn-primary" value="Add teacher to subject" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <form id="guest" action="admDeleteTeacherFromSubject.html">
                <input type="submit" class="btn btn-primary" value="Delete teacher from subject" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <form id="guest"action="admDefinePreferences.html">
                <input type="submit" class="btn btn-primary" value="Define preferences" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <p>Activities actions:</p>
                <form id="guest"action="admAddActivityInSchedule.html">
                <input type="submit" class="btn btn-primary" value="Add activity to a schedule" />
                </form>
            </div>
            <div style="padding-bottom: 10px; padding-left: 10px;">
                <form id="guest"action="admAddActivityStudent.html">
                <input type="submit" class="btn btn-primary" value="Add activity to a student" />
                </form>
            </div>
            
    </body>
</html>

<!-- TODO: POPUP kdyz uspech admin akce -->