<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rozvrchol</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../styles.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>ADMIN MENU</h1>
      </div>
      <div class="col-4 text-right">
        <form action="../../index.html">
          <input type="submit" class="btn btn-secondary" value="Log out" />
        </form>
      </div>
    </div>

    <div class="action-group">
      <p>Users</p>
      <form id="guest" action="admUpdateUser.html">
        <input type="submit" class="btn btn-primary" value="Update user" />
      </form>
      <form id="guest" action="admCreateUser.html">
        <input type="submit" class="btn btn-primary" value="Create user" />
      </form>
      <form id="guest" action="admDeleteUser.html">
        <input type="submit" class="btn btn-primary" value="Delete user" />
      </form>
    </div>

    <div class="action-group">
      <p>Subjects</p>
      <form id="guest" action="admAddSubject.html">
        <input type="submit" class="btn btn-primary" value="Create subject" />
      </form>
      <form id="guest" action="admDeleteSubject.html">
        <input type="submit" class="btn btn-primary" value="Delete subject" />
      </form>
      <form id="guest" action="admUpdateSubject.html">
        <input type="submit" class="btn btn-primary" value="Update subject" />
      </form>
    </div>

    <div class="action-group">
      <p>Rooms</p>
      <form id="guest" action="admCreateRoom.html">
        <input type="submit" class="btn btn-primary" value="Create room" />
      </form>
      <form id="guest" action="admDeleteRoom.html">
        <input type="submit" class="btn btn-primary" value="Delete room" />
      </form>
    </div>

    <div class="action-group">
      <p>Teaching activities</p>
      <form id="guest" action="admAddTeachingActivity.html">
        <input type="submit" class="btn btn-primary" value="Create teaching activity" />
      </form>
      <form id="guest" action="admDeleteTeachingActivity.html">
        <input type="submit" class="btn btn-primary" value="Delete teaching activity" />
      </form>
    </div>

    <div class="action-group">
      <p>Teachers</p>
      <form id="guest" action="admAddTeacherToSubject.html">
        <input type="submit" class="btn btn-primary" value="Add teacher to subject" />
      </form>
      <form id="guest" action="admDeleteTeacherFromSubject.html">
        <input type="submit" class="btn btn-primary" value="Delete teacher from subject" />
      </form>
      <form id="guest" action="admSetGuarantorOfSubject.html">
        <input type="submit" class="btn btn-primary" value="Set guarantor to a subject" />
      </form>
      <form id="guest" action="admDefinePreferences.html">
        <input type="submit" class="btn btn-primary" value="Define preferences" />
      </form>
    </div>

    <div class="action-group">
      <p>Activities</p>
      <form id="guest" action="admAddActivityInSchedule.html">
        <input type="submit" class="btn btn-primary" value="Add activity to a schedule" />
      </form>
    </div>
  </div>

</body>
</html>

<!-- TODO: POPUP kdyz uspech admin akce -->
