<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rozvrchol</title>
<!-- Include Bootstrap CSS -->

</head>
    <body>
        <p>ADMIN.</p>
            <div style="padding-top: 20px">
            <form id="guest"action="admUpdateUser.html">
              <input type="submit" class="btn btn-secondary" value="Update user" />
            </form>
          </div>
            <div style="padding-top: 20px">
                <form id="guest"action="admCreateUser.html">
                <input type="submit" class="btn btn-secondary" value="Create user" />
                </form>
            </div>
            <div style="padding-top: 20px">
                <form id="guest"action="admDeleteUser.html">
                <input type="submit" class="btn btn-secondary" value="Delete user" />
                </form>
            </div>
            <div style="padding-top: 20px">
                <form id="guest"action="admCreateSubject.html">
                <input type="submit" class="btn btn-secondary" value="Create subject" />
                </form>
            </div>
            <div style="padding-top: 20px">
                <form id="guest"action="admDeleteSubject.html">
                <input type="submit" class="btn btn-secondary" value="Delete subject" />
                </form>
            </div>
            <div style="padding-top: 20px">
                <form id="guest"action="admCreateRoom.html">
                <input type="submit" class="btn btn-secondary" value="Create room" />
                </form>
            </div>
            <div style="padding-top: 20px">
                <form id="guest"action="admDeleteRoom.html">
                <input type="submit" class="btn btn-secondary" value="Delete room" />
                </form>
            </div>
    </body>
</html>

<!-- TODO: POPUP kdyz uspech admin akce -->