<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rozvrchol</title>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div  style="float:left">
  <h1>Welcome, student.</h1>
  <h2>Choose your activities:</h2>
  <div style="display: grid; grid-template-columns: auto auto;">
    <div style="float:left" id="activities">
    </div>
    <div style="float:right">
        <style>
            td {
                border: 1px solid #000;
                padding: 10px;
                text-align: center;
                height: 100px;
                width: 500px;
            }
        </style>
        <table style=" border: 1px solid #000; margin-left: 200px; margin-right: 30px;">;
            <tbody>
                <!-- Rows with data -->
                <tr style="height:40px">
                    <td style="width:40px" style="height:40px" id="pane1">-</td>
                    <td style="height:40px" id="pane1">7:00-8:00</td>
                    <td style="height:40px" id="pane2">8:00-9:00</td>
                    <td style="height:40px" id="pane3">9:00-10:00</td>
                    <td style="height:40px" id="pane4">10:00-11:00</td>
                    <td style="height:40px" id="pane5">11:00-12:00</td>
                    <td style="height:40px" id="pane6">12:00-13:00</td>
                    <td style="height:40px" id="pane7">13:00-14:00</td>
                    <td style="height:40px" id="pane8">14:00-15:00</td>
                    <td style="height:40px" id="pane9">15:00-16:00</td>
                    
                </tr>
                <tr id="Mo">
                    <td style="width:40px" id="pane11">Mo</td>
                    <td id="pane12">Pane 12</td>
                    <td id="pane13">Pane 13</td>
                    <td id="pane14">Pane 14</td>
                    <td id="pane15">Pane 15</td>
                    <td id="pane16">Pane 16</td>
                    <td id="pane17">Pane 17</td>
                    <td id="pane18">Pane 18</td>
                    <td id="pane19">Pane 19</td>
                    <td id="pane20">Pane 20</td>
                </tr>
                <tr id="Tu">
                    <td style="width:40px" id="pane21">Tu</td>
                    <td id="pane22" colspan="2">Pane 22</td>
                    <td id="pane23">Pane 23</td>
                    <td id="pane24">Pane 24</td>
                    <td id="pane25">Pane 25</td>
                    <td id="pane26">Pane 26</td>
                    <td id="pane27">Pane 27</td>
                    <td id="pane28">Pane 28</td>
                    <td id="pane29">Pane 29</td>
                    
                </tr>
                <tr id="We">
                    <td style="width:40px" id="pane31">We</td>
                    <td id="pane32">Pane 32</td>
                    <td id="pane33">Pane 33</td>
                    <td id="pane34">Pane 34</td>
                    <td id="pane35">Pane 35</td>
                    <td id="pane36">Pane 36</td>
                    <td id="pane37">Pane 37</td>
                    <td id="pane38">Pane 38</td>
                    <td id="pane39">Pane 39</td>
                    <td id="pane40">Pane 40</td>
                </tr>
                <tr id="Th">
                    <td style="width:40px" id="pane41">Th</td>
                    <td id="pane42">Pane 42</td>
                    <td id="pane43">Pane 43</td>
                    <td id="pane44">Pane 44</td>
                    <td id="pane45">Pane 45</td>
                    <td id="pane46">Pane 46</td>
                    <td id="pane47">Pane 47</td>
                    <td id="pane48">Pane 48</td>
                    <td id="pane49">Pane 49</td>
                    <td id="pane50">Pane 50</td>
                </tr>
                <tr id="Fr">
                    <td style="width:40px" id="pane51">Fr</td>
                    <td id="pane52">Pane 52</td>
                    <td id="pane53">Pane 53</td>
                    <td id="pane54">Pane 54</td>
                    <td id="pane55">Pane 55</td>
                    <td id="pane56">Pane 56</td>
                    <td id="pane57">Pane 57</td>
                    <td id="pane58">Pane 58</td>
                    <td id="pane59">Pane 59</td>
                    <td id="pane60">Pane 60</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  
</div>

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>



$(document).ready(function(e) {

    


    

 $.ajax({
  type: 'GET',
  url: 'http://localhost:5000/getTeachingActivities',
  success: function(response) {
    var allActions;
    allActions = [];

    // Loop through the subjects and add options to the dropdown
    response.sort((a, b) => (a.shortcut > b.shortcut) ? 1 : -1);
    for (var i = 0; i < response.length; i++) {
        //store all activities in array
        allActions.push(response[i]);
        var paragraph = $('<p>').text(response[i].shortcut + ' - ' + response[i].label);
        $('#activities').append(paragraph);
    }
    console.log(allActions);
    allActions.forEach(function(action, index, allActions){
        var label = action.label;
        console.log(label);
        var repetition = action.repetition;
        var duration = action.duration;
        var shortcut = action.shortcut;
        var id = action.id;
        var pane = 'pane' + duration + id;
        var pane = document.getElementById(pane);
        var existing = $(pane).text();
        var novy = label + 'holero';
        $(pane).html(novy);
    });
  },
  error: function(xhr, status, error) {
    console.error(error);
    openDynamicContentModal('Failed to fetch rooms. Please try again. ERROR: ' + error, false);
  }
 }); 


});
</script>

</body>
</html>
