<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rozvrchol</title>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
{% endif %}
  <h2>Create Subject</h2>
  <form id="subjectForm" action="http://localhost:5000/addSubject" method="post">
    <div class="form-group">
      <label for="shortcut">Shortcut:</label>
      <input style="width: 300px;" type="text" class="form-control" id="shortcut" name="shortcut" required>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input style="width: 300px;" type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="annotation">Annotation:</label>
      <input style="width: 300px;" type="text" class="form-control" id="annotation" name="annotation">
    </div>
    <div class="form-group">
      <label for="credits">Credits:</label>
      <input style="width: 300px;" type="number" class="form-control" id="credits" name="credits" required>
    </div>
    <div class="form-group">
      <label for="id_guarantor">Garant:</label>
      <input style="width: 300px;" type="text" class="form-control" id="id_guarantor" name="id_guarantor" required>
    </div>
    <button type="submit" class="btn btn-primary">Create Subject</button>

  </form>
  <div style="padding-top: 20px">
    <form id="guest" action="http://localhost:5000/admViewReroute" method="post">
      <input type="submit" class="btn btn-secondary"value="Back to admin menu" />
    </form>
  </div>

  <!-- Modal -->
  <div class="modal" id="dynamicContentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalContent">
          <!-- Content will be dynamically updated here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
</div>


</body>
</html>
