<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rozvrchol</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      max-width: 400px;
    }

    h2 {
      font-size: 2em;
      font-weight: bold;
      color: #007bff;
      margin-bottom: 20px;
      text-align: center;
    }

    .form-group {
      margin-top: 20px;
    }

    .btn {
      font-size: 1em;
    }

    .btn-primary {
      background-color: #007bff;
      color: #fff;
    }

    .btn-secondary {
      background-color: #6c757d;
      color: #fff;
      margin-top: 50px;
    }

    .label {
      width: 100%;
      text-align: center;
    }
  </style>
</head>
<body>

  <div class="container">
    <h2>DELETE A USER</h2>
    <form id="userForm">
      <div class="form-group">
        <label class="label" for="name">Choose a user to delete</label>
        <!-- Updated the input to a dropdown/select list -->
        <select class="form-control" id="name" required>
          <!-- Options will be dynamically added here -->
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Delete a user</button>
    </form>

    <div class="form-group">
      <form id="guest" action="adminview.html">
        <input type="submit" class="btn btn-secondary btn-block" value="Back to the administrator menu" />
      </form>
    </div>
    <!-- Modal -->
    <div class="modal" id="dynamicContentModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalTitle">Message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body" id="modalContent">
                  <!-- Content will be dynamically updated here -->
              </div>
              <div class="modal-footer">
                  <button type="button" onclick="location.reload();" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Include jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function openDynamicContentModal(message, isSuccess) {
      // Set the dynamic content
      $('#modalContent').html('<p>' + message + '</p>');
      // Set the modal title and style based on success
      var modalTitle = isSuccess ? 'Success' : 'Error';
      var modalHeaderColor = isSuccess ? 'bg-success' : 'bg-danger';
      // Update modal title and header color
      $('.modal-title').text(modalTitle);
      $('.modal-header').removeClass('bg-success bg-danger').addClass(modalHeaderColor);
      // Show the modal
      $('#dynamicContentModal').modal('show');
    }

    $(document).ready(function() {
      $.ajax({
        type: 'GET',
        url: 'http://localhost:5000/getUsers',
        success: function(response) {
          // Loop through the subjects and add options to the dropdown
          for (var i = 0; i < response.length; i++) {
            $('#name').append('<option value="' + response[i].name + '">' + response[i].name + '</option>');
          } 
        },
        error: function(xhr, status, error) {
          console.error(error);
          openDynamicContentModal('Failed to fetch users. Please try again. ERROR: ' + error, false);
        }
      });

      $('#userForm').on('submit', function(e) {
        e.preventDefault();

        var userData = {
          name: $('#name').val(),
          password: $('#password').val(),
          role: $('#role').val() 
        };

        $.ajax({
          type: 'DELETE',
          url: 'http://localhost:5000/deleteUserAdmin/'+userData.name,
          contentType: 'application/json',
          data: JSON.stringify(userData),
          success: function(response) {
            console.log(response);
            openDynamicContentModal('Operation was successful!', true);
          },
          error: function(xhr, status, error) {
            console.error(error);
            openDynamicContentModal('Operation failed. Please try again. ERROR: '+ error, false);
          }
        });
      });
    });
  </script>

</body>
</html>
